@import '../../styles/linkColorMixin.scss';

// reference https://github.com/nicejade/markdown2png/blob/master/src/views/Home.vue (demo https://share.lovejade.cn/)

.container {
  padding: 32px;
  box-shadow: 0 2px 5px rgb(0 0 25 / 10%), 0 5px 20px 1px rgb(0 0 50 / 20%);

  &.dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }

  &.note {
    background-color: #fffcf5;
  }

  &.antiquity {
    background: #e9e7d9 url('../../assets/classical.png') repeat 0 0;
  }

  &.classic {
    background-color: #f2f2f2;
  }

  &.bbburst {
    background-color: #f3f4f6;
    background-image: url('../../assets/bbburst.svg');
    background-size: 100%;
  }

  &.vitality {
    background: linear-gradient(225deg, #9cccfc 0, #e6cefd 99.54%);
  }

  &.gradient {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }

  &.official {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      // z-index: -2; // 我这里不加 z-index 效果就对了，加了反而不对
      background: linear-gradient(180deg,
          #04629d 0,
          #037dcc 49.48%,
          #0289e0 100%);
    }
  }

  &.yellow {
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
  }

  .officialBg {
    position: absolute;
    // z-index: -1; // 我这里不加 z-index 效果就对了，加了反而不对
    left: 0;
    // top: -6.6rem;
    top: 0; // 设为0后扩散的圆圈看着不是很有内味，但用原来的值，这个div会遮住工具栏，没办法了
    right: 0;
    bottom: 0;
    background: url('../../assets/official.svg');
    background-size: 80% auto;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .inner {
    padding: 16px;

    &.dark {
      background-color: transparent;
    }

    &.note {
      position: relative;
      border: 1px solid #e8e5dc;
      background-color: #fffcf5;
      // 如果画两个边框，那么 html2canvas 导出的图片的外边框会变形，所以不画了
    }

    &.antiquity {
      position: relative;
      border: 3px solid #c02c38;
      padding: 16px;
    }

    &.bbburst {
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(2px);
    }

    &.vitality {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    &.gradient {
      background-color: transparent;
    }

    &.official {
      position: relative;
    }

    &.yellow {
      color: #000;
    }

    .title {
      text-align: center;

      &.dark {
        color: rgba(255, 255, 255, 0.85);
      }

      &.official {
        color: #f2f2f2;
        background-color: transparent;
      }

      &.yellow {
        color: #000;
        background-color: transparent;
      }
    }

    .linkBtn {
      font-size: 16px;
    }

    .sentences {
      padding-left: 32px;
      font-size: 16px;

      .linkLike {
        cursor: pointer;

        @include linkColorStyles();
      }
    }

    .markdownPreview {
      &.dark {
        background-color: transparent;
      }

      &.note {
        background-color: #fffcf5;
      }

      &.antiquity {
        background-color: #e9e7d9;
      }

      &.classic {
        background-color: #f2f2f2;
      }

      &.bbburst {
        background-color: transparent;
      }

      &.vitality {
        background-color: #f2f2f2;
      }

      &.gradient {
        background-color: transparent;
      }

      &.official {
        color: #f2f2f2;
        background-color: transparent;
      }

      &.yellow {
        color: #000;
        background-color: transparent;
      }
    }
  }
}