.dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  .charts {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .chart {
      flex: 1;
    }
  }
}