$themes: (
  light: (textColor: black,
    navbarBgColor: #f5f5f5,
    navbarLinkHoverColor: #1677ff,
    linkColor: #1677ff,
    linkHoverColor: #69b1ff,
    pageContainerBgColor: #f5f5f5,
    mdEditorModifiedBorderColor: #116329,
    loginCardBorderColor: #dadde1,
    providerBg: #24292f,
    providerBorderColor: rgba(0, 0, 0, .1),
    providerColor: #fff,
    providerBgHover: rgba(36, 41, 47, 0.8),
  ),
  dark: (textColor: rgb(255 255 255 / 85%),
    navbarBgColor: #161b22,
    navbarLinkHoverColor: #1668dc,
    linkColor: #1668dc,
    linkHoverColor: #15417e,
    pageContainerBgColor: black,
    mdEditorModifiedBorderColor: #7ee787,
    loginCardBorderColor: #30363d,
    providerBg: #24292f,
    providerBorderColor: rgba(0, 0, 0, .1),
    providerColor: #fff,
    providerBgHover: rgba(36, 41, 47, 0.8),
  )
);

$curTheme: 'light';

@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global;

    html[data-color-mode='#{$key}'] & {
      @content;
    }
  }
}

@function getThemeVar($param) {
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap, $param);
}